<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="10" name="Suite" parallel="tests">
  <test thread-count="10" name="Test" parallel="tests">
  <parameter name="browser" value="chrome"></parameter>
  <classes>
  <class name="sampleTest.runner"></class>
  </classes>
  </test> <!-- Test -->
  
    <test thread-count="10" name="Test1" parallel="methods">
    <parameter name="browser" value="ie"></parameter>
  <classes>
  <class name="sampleTest.runner1"></class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
